In [1]:
#creating a list 

my_list = [10,20,30,40,50]

#Adding an element into the list

my_list.append(60)

#Removing an element from the list

my_list.remove(20)

#Modifying an element into the list

my_list[0] = 110

In [3]:
print("Updated List :" ,my_list)

Updated List : [110, 30, 40, 50, 60]

In [5]:
#creating a dictionary

my_dict = {'name': 'NIKHIL', 'age': 24, 'city':'SURAT'}

#Adding 

my_dict['gender'] = 'Male'

#Removing

del my_dict['age']

#Modifying

my_dict['city'] = 'Ahemdabad'

print("Updated Dict :" ,my_dict)

Updated Dict : {'name': 'NIKHIL', 'city': 'Ahemdabad', 'gender': 'Male'}

In [6]:
#creating a set

my_set = {10,20,30,40,50}

#Adding
my_set.add(60)

#Removing
my_set.remove(50)

#modifying
my_set.discard(10)
my_set.add(110)

print("Updated SET :" ,my_set)

Updated SET : {20, 40, 110, 60, 30}